@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #260011;
    background-color: #e5d4c2;
}

h1,
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4px;
    color: #260011;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 83px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #d41f35;
    color: #d41f35;
}

.active {
    border-bottom: 1px solid #d41f35;
}

#outer-hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 200%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    height: 120px;

    padding: 40px;
    background-color: #d41f35;
    box-shadow: 18px 18px 0px -6px rgba(238, 215, 190, 1);

    bottom: 60px;
    right: 150px;

    position: absolute;
}

#cover-text h2 {
    color: #eed7be;
}

#location {
    padding-top: 30px;
    height: 700px;
    background: url(../images/giorgio-chef.webp) no-repeat center left;
    background-color: #aea2a6;
}

#location>h2 {
    background-color: #e5d4c2;
    width: 180px;
}

#left-about {
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 30%;
    height: 80%;
    margin: 0 auto;

}

hr {
    border-top: 3px solid #e5d4c2;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}

#iframe-container {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: #e5d4c2;
    border-width: 9px;

}

#map-location {
    width: 100%;
    height: 100%;

}

.form-section {
    height: 700px;
}

.reservation-form {
    color: #e5d4c2;
    background-color: #aea2a6;
    margin: 40px auto;
    padding: 30px;
    max-width: 600px;

}

.reservation-form h2 {
    color: #e5d4c2;
}

.reservation-form label {
    font-size: 120%;
    line-height: 30px;
}

.text-input {
    background: transparent;
    color: #e5d4c2;
    width: 100%;
    height: 30px;
    margin: 5px 65px 0 0;
    border: 4px solid #e5d4c2;
    border-radius: 2px;
}

.select-date {
    color: #e5d4c2;
    width: 50%;
    height: 30px;
    margin: 5px 65px 0 0;
    border: 4px solid #e5d4c2;
    border-radius: 2px;
}

.text-input:hover {
    color: #f16c6b;
}

.book-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 140%;
    font-weight: 700;
    background-color: #d41f35;
    color: #e5d4c2;
    display: block;
}

.book-button:hover {
    background-color: #e5d4c2;
    color: #d41f35;
}

footer {
    height: 200px;
    background-color: #aea2a6;
}

.social-networks {
    text-align: center;

}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    color: #d41f35;
    margin-left: 1%;
    margin-right: 1%;
}

.social-title {
    text-align: center;
    padding: 2% 1% 1% 1%;
    font-size: 220%;
    color: #e5d4c2;
}

footer p {
    text-align: center;
    margin-top: 3%;
}

@media screen and (max-width: 1200px) {

    #location {
        margin: 0 auto;
    }
}

@media screen and (max-width: 950px) {

    #cover-text {
        right: 50px;
    }
}

    #location>h2 {
    margin: 0 auto;
}

    #center-about {
    margin-top: 30px;
}



@media screen and (max-width: 750px) {

    .left-about-heading,
    .right-about-heading {
        width: 90%;
    }

    .reservation-form {
        max-width: 70%;
    }

    #location {
        padding-top: 30px;
        margin: 0 auto;
        height: 1000px;
        background: url(../images/giorgio-chef.webp) no-repeat top left;
        background-size: cover;
        background-color: #aea2a6;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
        color: #eed7be;
    }

    .mobile-color {
        color: #eed7be;
    }

    #center-about {
        clear: both;
        width: 100%;
        padding: 0;
    }

    #iframe-container {
        width: 90%;
        height: 60%;
        margin: 0 auto;
        border-style: solid;
        border-color: #e5d4c2;
        border-width: 9px;

    }

}

    @media screen and (max-width: 570px) {
    #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

    .social-networks i {
            font-size: 150%;
            margin-left: 1.5%;
            margin-right: 1.5%;
        }

    .social-title {
            padding: 7% 1% 2% 1%;
            font-size: 220%;
        }

    footer p {
            text-align: center;
            margin-top: 7%;
        }
    }

    @media screen and (max-width: 530px) {

    #menu {
            line-height: 50px;
        }

    #cover-text {
            width: 70%;
            height: 200px;
            right: 40px;
            margin: 0 auto;
            padding: 0;
        }

    .reservation-form {
            max-width: 70%;
        }
    } 